
	<div class="flex flex-grow items-start justify-around h-screen p-8 text-gray-600 bg-gray-100">
		<!-- Todolist -->
    <div class="max-w-full max-h-full overflow-hidden h-full flex flex-col justify-between relative p-8 bg-white rounded-lg shadow-lg w-96">
			<div class="flex items-center mb-6">
				<svg class="h-8 w-8 text-indigo-500 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
				</svg>
				<h4 class="font-semibold ml-3 text-lg">Todo</h4>
			</div>

      <div class=" max-h-108 min-h-108 grow overflow-y-scroll">
        <div *ngFor="let todo of todos;" class=" overflow-scroll">
          <input class="hidden" type="checkbox"[checked]="todo.status=='done'"  >
          <label [id]="todo.id" class="flex items-center h-10 px-2 rounded cursor-pointer hover:bg-gray-100" (click)="todo.status= !todo.status; deleteTodo(todo.id)"  >
            <span class="flex items-center justify-center w-5 h-5 text-transparent border-2 border-gray-300 rounded-full">
              <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
            <span class="ml-4 text-sm">{{todo.title}}</span>
          </label>	
        </div>
      </div>
		
		
			<button class="flex bg-gray-100 items-center w-full h-8 px-2 mt-2 text-sm font-medium rounded" (keydown.enter)="sendData();todo.title=''">
				<svg class="w-5 h-5 text-gray-400 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
				</svg>
				<input class="flex-grow h-8 ml-4 bg-transparent focus:outline-none font-medium" type="text" [(ngModel)]="todo.title" placeholder="add a new task">
			</button>
		</div>
    <!-- Component End  -->
    <!-- Pending -->
    <div class="max-w-full max-h-full overflow-hidden h-full flex flex-col justify-between relative p-8 bg-white rounded-lg shadow-lg w-96">
			<div class="flex items-center mb-6">
				<svg class="h-8 w-8 text-indigo-500 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
				</svg>
				<h4 class="font-semibold ml-3 text-lg">Pending</h4>
			</div>

      <div class=" max-h-108 min-h-108 grow overflow-y-scroll">
        <div *ngFor="let todo of todos;let i = index" class=" overflow-scroll">
          <input class="hidden" type="checkbox"[checked]="todo.status"  >
          <label class="flex items-center h-10 px-2 rounded cursor-pointer hover:bg-gray-100" (click)="todo.status= !todo.status; deleteTodo(i+1)"  >
            <span class="flex items-center justify-center w-5 h-5 text-transparent border-2 border-gray-300 rounded-full">
              <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
            <span class="ml-4 text-sm">{{todo.title}}</span>
          </label>	
        </div>
      </div>
		
		
			<button class="flex bg-gray-100 items-center w-full h-8 px-2 mt-2 text-sm font-medium rounded">
				<svg class="w-5 h-5 text-gray-400 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
				</svg>
				<input class="flex-grow h-8 ml-4 bg-transparent focus:outline-none font-medium" type="text" placeholder="add a new task">
			</button>
		</div>
    <!-- Component End  -->
    <!-- Done -->
    <div class="max-w-full max-h-full overflow-hidden h-full flex flex-col justify-between relative p-8 bg-white rounded-lg shadow-lg w-96">
			<div class="flex items-center mb-6">
				<svg class="h-8 w-8 text-indigo-500 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
				</svg>
				<h4 class="font-semibold ml-3 text-lg">Done</h4>
			</div>

      <div class=" max-h-108 min-h-108 grow overflow-y-scroll">
        <div *ngFor="let todo of todos;let i = index" class=" overflow-scroll">
          <input class="hidden" type="checkbox"[checked]="todo.status"  >
          <label class="flex items-center h-10 px-2 rounded cursor-pointer hover:bg-gray-100" (click)="todo.status= !todo.status; deleteTodo(i+1)"  >
            <span class="flex items-center justify-center w-5 h-5 text-transparent border-2 border-gray-300 rounded-full">
              <svg class="w-4 h-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </span>
            <span class="ml-4 text-sm">{{todo.title}}</span>
          </label>	
        </div>
      </div>
		
		
			<button class="flex bg-gray-100 items-center w-full h-8 px-2 mt-2 text-sm font-medium rounded">
				<svg class="w-5 h-5 text-gray-400 fill-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
				</svg>
				<input class="flex-grow h-8 ml-4 bg-transparent focus:outline-none font-medium" type="text" placeholder="add a new task">
			</button>
		</div>
		<!-- Component End  -->
	</div>
