<div class="flex flex-col h-full p-8 pb-0 overflow-y-auto w-72 bg-stone-50">
    <div class="flex items-center justify-center p-3 pt-0 text-base font-bold border-b text-zinc-800">
        Notifications
    </div>
    <div class="mt-2 overflow-y-auto grow" [@listAnimation]="notifications.length" >
        <div *ngFor="let item of notifications;let i = index">

            <div routerLink="/team" class="w-full p-2 mb-2 bg-white border rounded-lg border-zinc-300" >
                <div class="flex flex-col items-center justify-between">
                    <p class="flex items-center gap-2 ">
                        <span class="text-sm font-semibold animate-pulse" *ngIf="i == 0">
                            NEW
                        </span>
                        <span class="text-sm">
                            {{item.update == 'updated' ? '🎉  One Task Updated' : '🚀  One Task Added'}}
                        </span>
                    </p>
                  
                    <p class="text-sm text-stone-400">
                        {{item.time}}
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>