<div class="flex flex-col w-full h-full gap-4 pt-5 p-9">
    <p class="flex-none text-2xl font-bold text-neutral-800">
       Team
    </p>
    <div cdkDropListGroup
        class="grid items-start justify-start grid-cols-3 gap-12 p-5 overflow-scroll bg-stone-50 rounded-xl grow">
        <div class="flex flex-col w-full h-full overflow-x-scroll">
            <p class="flex mb-2">
                <span class="px-3 py-1 text-base font-semibold bg-zinc-200 rounded-2xl text-neutral-600 ">

                    Not started
                </span>
            </p>
            <div class="flex w-full h-full overflow-x-hidden overflow-y-auto">
                <!-- Not Started -->
                <div class="h-full grow">
                    <div cdkDropList [cdkDropListData]="not_started" class="h-full overflow-y-auto example-list"
                        (cdkDropListDropped)="drop($event)">

                        <div *ngFor="let item of not_started" (click)="openDialog(item)" cdkDrag
                            class="gap-2 p-4 mb-3 bg-white border rounded-lg shadow cursor-pointer group text-wrap hover:bg-zinc-50 border-zinc-300">
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <div class="flex items-center justify-between w-full ">
                                <p class="font-semibold truncate text-neutral-800 max-w-96">
                                    {{item.title}}
                                </p>

                            </div>
                            <p class=" text-start">
                                {{item.description}}
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col h-full overflow-scroll ">
            <p class="flex mb-2">
                <span class="px-3 py-1 text-base font-semibold bg-violet-100 rounded-2xl text-neutral-600 ">

                    In progress
                </span>
            </p>
            <div class="flex h-full overflow-auto ">
                <!-- Todo -->
                <div class=" grow">
                    <div cdkDropList [cdkDropListData]="in_progress" class="h-full example-list"
                        (cdkDropListDropped)="drop($event)">

                        <div *ngFor="let item of in_progress" (click)="openDialog(item)" cdkDrag
                            class="w-full gap-2 p-4 mb-3 bg-white border rounded-lg shadow cursor-pointer group border-zinc-300">
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

                            <div class="flex items-center justify-between w-full ">
                                <p class="font-semibold truncate text-neutral-800 max-w-80">
                                    {{item.title}}
                                </p>
                            </div>
                            <p class=" text-start">
                                {{item.description}}
                            </p>

                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="flex flex-col h-full overflow-auto ">
            <p class="flex mb-2">
                <span class="px-3 py-1 text-base font-semibold bg-green-700/30 rounded-2xl text-neutral-600 ">
                    Done
                </span>
            </p>
            <div class="flex h-full overflow-scroll ">
                <!-- Todo -->
                <div class=" grow">
                    <div cdkDropList [cdkDropListData]="done" class="h-full example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of done " (click)="openDialog(item)" cdkDrag
                            class="w-full gap-2 p-4 mb-3 bg-white border rounded-lg shadow cursor-pointer group border-zinc-300">
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

                            <div class="flex items-center justify-between w-full ">
                                <p class="font-semibold truncate text-neutral-800 max-w-80">
                                    {{item.title}}
                                </p>
                            </div>
                            <p class=" text-start">
                                {{item.description}}
                            </p>

                        </div>
                        <div
                            *ngIf=" (not_started.length != 0 || in_progress.length != 0) && done.length == 0 ">
                            <div class="w-full p-4 mb-3 bg-white border rounded-lg shadow ">
                                <p class="font-semibold text-neutral-700">
                                    Nothing to be done 🙃
                                </p>
                            </div>

                            <div class="w-full p-4 bg-white border rounded-lg shadow ">
                                <img src="assets/images/done.png" class="h-96" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isAdmin()" class="flex items-center justify-center flex-none p-5">
        <button (click)="addTodo()" class="w-full p-3 text-white rounded-lg bg-neutral-600">Add Todo</button>
    </div>
</div>