<div class="flex flex-col w-full h-full gap-4 pt-5 p-9">
    <p class="flex-none text-2xl font-bold text-neutral-800">
        My Space
    </p>
    <div class="grid items-start justify-start grid-cols-3 gap-12 p-5 overflow-scroll bg-stone-50 rounded-xl grow">
        <div class="flex flex-col h-full overflow-scroll ">
            <p class="flex mb-2">
                <span class="px-3 py-1 text-base font-semibold bg-zinc-200 rounded-2xl text-neutral-600 ">

                    Not started
                </span>
            </p>
            <div class="flex h-full overflow-scroll ">
                <!-- Todo -->
                <div class=" grow">

                    <div
                        class="flex-col items-start justify-start gap-2 p-4 mb-3 bg-white border rounded-lg shadow group h-156 border-zinc-300 ">
                        <div class="flex items-center justify-between w-full ">

                            <p class="font-semibold truncate text-neutral-800 max-w-80">Task
                                1asdfasasdfasdfasdfasdfasasasdfasfasdfadfas</p>


                            <button
                                class="p-1 transition-all rounded-full opacity-0 group-hover:opacity-100 text-neutral-600 bg-zinc-200">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>

                        </div>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec dui eget urna
                            tincidunt
                            fermentum. Nullam nec nunc nec nunc.
                        </p>
                    </div>
                    <div
                        class="flex-col items-start justify-start gap-2 p-4 bg-white border rounded-lg shadow h-156 border-zinc-300 ">
                        <p class="font-semibold text-neutral-800">Task 1</p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec dui eget urna
                            tincidunt
                            fermentum. Nullam nec nunc nec nunc.
                        </p>
                    </div>

                </div>

            </div>
        </div>
        <div class="flex flex-col h-full overflow-scroll ">
            <p class="flex mb-2">
                <span class="px-3 py-1 text-base font-semibold bg-violet-100 rounded-2xl text-neutral-600 ">

                    In progress
                </span>
            </p>
            <div class="flex h-full overflow-scroll ">
                <!-- Todo -->
                <div class=" grow">

                    <div
                        class="flex-col items-start justify-start gap-2 p-4 mb-3 bg-white border rounded-lg shadow group h-156 border-zinc-300 ">
                        <div class="flex items-center justify-between w-full ">

                            <p class="font-semibold truncate text-neutral-800 max-w-80">Task
                                1asdfasasdfasdfasdfasdfasasasdfasfasdfadfas</p>


                            <button
                                class="p-1 transition-all rounded-full opacity-0 group-hover:opacity-100 text-neutral-600 bg-zinc-200">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>

                        </div>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec dui eget urna
                            tincidunt
                            fermentum. Nullam nec nunc nec nunc.
                        </p>
                    </div>
                    <div
                        class="flex-col items-start justify-start gap-2 p-4 bg-white border rounded-lg shadow h-156 border-zinc-300 ">
                        <p class="font-semibold text-neutral-800">Task 1</p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec dui eget urna
                            tincidunt
                            fermentum. Nullam nec nunc nec nunc.
                        </p>
                    </div>

                </div>

            </div>
        </div>
        <div class="flex flex-col h-full overflow-scroll ">
            <p class="flex mb-2">
                <span class="px-3 py-1 text-base font-semibold bg-green-700/30 rounded-2xl text-neutral-600 ">

                    Done
                </span>
            </p>
            <div class="flex h-full overflow-scroll ">
                <!-- Todo -->
                <div class=" grow">

                    <div
                        class="flex-col items-start justify-start gap-2 p-4 mb-3 bg-white border rounded-lg shadow group h-156 border-zinc-300 ">
                        <div class="flex items-center justify-between w-full ">

                            <p class="font-semibold truncate text-neutral-800 max-w-80">Task
                                1asdfasasdfasdfasdfasdfasasasdfasfasdfadfas</p>


                            <button
                                class="p-1 transition-all rounded-full opacity-0 group-hover:opacity-100 text-neutral-600 bg-zinc-200">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec dui eget urna
                            tincidunt
                            fermentum. Nullam nec nunc nec nunc.
                        </p>
                    </div>
                    <div
                        class="flex-col items-start justify-start gap-2 p-4 bg-white border rounded-lg shadow h-156 border-zinc-300 ">
                        <p class="font-semibold text-neutral-800">Task 1</p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec dui eget urna
                            tincidunt
                            fermentum. Nullam nec nunc nec nunc.
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="flex items-center justify-center flex-none p-5">
        <button class="w-full p-3 text-white rounded-lg bg-neutral-600">Add Todo</button>
    </div>
</div>